In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("../../data/handshake_jobs.csv")
df.columns

Index(['id', 'apply_start', 'created_at', 'updated_at', 'employer_logo',
       'employer_name', 'employer_id', 'employment_type_name',
       'expiration_date', 'job_id', 'job_name', 'duration',
       'employer_industry_id', 'employer_industry_name', 'employer_logo_url',
       'job_type_id', 'job_type_name', 'salary_type_id', 'salary_type_name',
       'text_description', 'title', 'work_study', 'remote',
       'location_cities_1', 'location_states_1', 'location_countries_1',
       'location_cities_2', 'location_states_2', 'location_countries_2',
       'location_cities_3', 'location_states_3', 'location_countries_3',
       'location_cities_4', 'location_states_4', 'location_countries_4',
       'location_cities_5', 'location_states_5', 'location_countries_5'],
      dtype='object')

In [7]:
len(df)

37803

In [8]:
df["employer_name"].value_counts().describe()

count    6190.000000
mean        6.107108
std        14.050195
min         1.000000
25%         2.000000
50%         2.000000
75%         5.000000
max       318.000000
Name: employer_name, dtype: float64

In [9]:
df['employment_type_name'].value_counts()

Full-Time    35241
Part-Time     2562
Name: employment_type_name, dtype: int64

In [10]:
df['job_type_name'].value_counts()

Job           22862
Internship    14941
Name: job_type_name, dtype: int64

In [12]:
df[['location_cities_1', 'location_cities_2', 'location_cities_3', 'location_cities_4', 'location_cities_5']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37803 entries, 0 to 37802
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   location_cities_1  36825 non-null  object
 1   location_cities_2  7216 non-null   object
 2   location_cities_3  4986 non-null   object
 3   location_cities_4  3692 non-null   object
 4   location_cities_5  2905 non-null   object
dtypes: object(5)
memory usage: 1.4+ MB